
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: black;
}

.hexagon {
  width: 40px;
  height: 50px;
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
  background: #2C2C2C;
  border-radius: 20px;
  transition: background-color 0.1s ease;
}

.hexagon:hover {
  background: #2B9E76; 
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #606060;
  border-radius: 10px;
}

#range-slider {
  width: 600px;
  margin: auto;
}
#range-slider .range-slider__thumb[data-lower] {
    width: 0;
}
#range-slider .range-slider__range {
    border-radius: 6px;
}

.accent {
  accent-color: #2B9E76 ;
  border: none;
}